$base-color: light-dark(#01875f, #4de1b2);

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 48px;

  .app__info {
    span {
      color: $base-color;
      font-weight: 500;
    }
  }

  img {
    width: 240px;
    border-radius: 20%;
    transform: translateY(0);
    cursor: default;
  }
}

.descriptionMobile {
  display: none;
}

.product__btns {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;

  button {
    border-radius: 8px;
    border: none;
    padding: 12px 32px;
     font-weight: 700;
  }

  .live__btn {
    background-color: $base-color;
    font-size: 16px;
  }

  .details__btn {
    font-size: 14px;
  }
}

@media (width < 1280px) {
  header {
    margin-bottom: 16px;

    img {
      width: 180px;
    }
  }
}

@media (width < 840px) {
  header {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 0;
    margin-bottom: 16px;

    img {
      width: 72px;
      margin: 7px 24px 0 0;
    }

    .app__info {
      .descriptionDesktop {
        display: none;
      }
    }
  }

  .descriptionMobile {
    display: block;
  }
}

@media (width < 600px) {
  header {
    img {
      margin-right: 16px;
    }
  }

  .product__btns {
    flex-direction: column;
  }
}
