<!-- product-details.html -->
@if (item()) {
<header>
  <div class="app__info">
    <h1>{{ item()!.productName }}</h1>
    <span>MMK GmbH</span>
    <p class="descriptionDesktop">{{ item()!.productDescription }}</p>
    <p class="descriptionDesktop">{{ item()!.productDescription2 }}</p>
  </div>
  <img
    class="logo__shadow"
    [src]="'img/' + productBasePath + '/logos/' + item()!.productLogoFilename"
    [alt]="item()!.productLogoAltText + ' Logo' || item()!.productId"
  />
</header>
<p class="descriptionMobile">{{ item()!.productDescription }}</p>

<div class="product__btns">
  <a
    mat-flat-button
    class="live__btn"
    [href]="item()!.productAppLive || null"
    [disabled]="!item()!.productAppLive"
    target="_blank"
  >
    Live{{ !item()!.productAppLive ? " (Coming soon)" : "" }}
  </a>

  <a
    mat-stroked-button
    class="details__btn"
    [href]="item()!.productAppDetails || null"
    [disabled]="!item()!.productAppDetails"
    target="_blank"
  >
    Details{{ !item()!.productAppDetails ? " (Coming soon)" : "" }}
  </a>
</div>

<app-preview-swiper
  [productPreviewsPath]="item()?.productPreviewsPath || ''"
></app-preview-swiper>
} @else {
<p>No entry found (ID: {{ productId() }})</p>
}
