// product-details.scss
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 48px;

  .app__info {
    span {
      color: light-dark(#01875f, #4de1b2);
      font-weight: 500;
    }
  }

  img {
    width: 240px;
    border-radius: 20%;
    transform: translateY(0);
    pointer-events: none;
  }
}

.descriptionMobile {
  display: none;
}

.product__btns {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;

  a {
    border-radius: 8px;
    border: none;
    padding: 12px 32px;
    transition: background-color 225ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;

    &[disabled] {
      pointer-events: none;
      cursor: default;
      background-color: light-dark(#e2e8f0, #2a2d35) !important;
      color: light-dark(#64748b, #94a3b8) !important;
      opacity: 1;
    }
  }

  .live__btn {
    background-color: light-dark(#059669, #10b981);
    color: white;

    &:hover {
      background-color: light-dark(#047857, #059669);
    }
  }

  .details__btn {
    color: light-dark(#059669, #10b981);

    ::ng-deep .mat-mdc-button-persistent-ripple::before {
      transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) !important;
    }
  }
}

@media (width < 1280px) {
  header {
    margin-bottom: 16px;

    img {
      width: 180px;
    }
  }
}

@media (width < 840px) {
  header {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 0;
    margin-bottom: 16px;

    img {
      width: 72px;
      margin: 7px 24px 0 0;
    }

    .app__info {
      .descriptionDesktop {
        display: none;
      }
    }
  }

  .descriptionMobile {
    display: block;
  }
}

@media (width < 600px) {
  header {
    margin-bottom: 32px;

    img {
      margin-right: 16px;
    }
  }

  .descriptionMobile {
    margin-bottom: 32px;
  }

  .product__btns {
    flex-direction: column;
  }
}
